@use "./utils/reset";
@use "./utils/fonts";
@use "./utils/vars";

body {
    background-color: vars.$mainTextColor;
    font-family: vars.$mainFontFamily;
    color: vars.$mainTextColor;
}

.container {
    max-width: vars.$smallContainerWidth;
    padding: 0 vars.$containerPadding;
}
