@use "../utils/fonts";
@use "../utils/vars";

html {
    font-size: vars.$basicFontSize;

    @media (max-width: vars.$mediaPC) {
        font-size: 14px;
    }

    @media (max-width: vars.$mediaTablet) {
        font-size: 12px;
    }

    @media (max-width: vars.$mediaTablet) {
        font-size: 14px;
    }

    @media (max-width: vars.$mediaSmallTablet) {
        font-size: 12px;
    }

    @media (max-width: vars.$mediaMobile) {
        font-size: 11px;
    }

    @media (max-width: vars.$mediaSmallMobile) {
        font-size: 9px;
    }
}

body {
    background-color: vars.$lightBgColor;
    font-family: vars.$mainFontFamily;
    color: vars.$mainTextColor;
}

.body__fixed {
    overflow: hidden;
}

.container {
    max-width: vars.$smallContainerWidth;
    padding: 0 vars.$containerPadding;
    margin: 0 auto;
}

.display--none {
    display: none;
}
