@font-face {
    font-family: Kodchasan;
    font-display: swap;
    src: url("../assets/fonts/Kodchasan-Bold.woff2") format(woff2),
        url("../assets/fonts/Kodchasan-Bold.woff") format(woff),
        url("../assets/fonts/Kodchasan-Bold.ttf") format(ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Kodchasan;
    font-display: swap;
    src: url("../assets/fonts/Kodchasan-Medium.woff2") format(woff2),
        url("../assets/fonts/Kodchasan-Medium.woff") format(woff),
        url("../assets/fonts/Kodchasan-Medium.ttf") format(ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Kodchasan;
    font-display: swap;
    src: url("../assets/fonts/Kodchasan-SemiBold.woff2") format(woff2),
        url("../assets/fonts/Kodchasan-SemiBold.woff") format(woff),
        url("../assets/fonts/Kodchasan-SemiBold.ttf") format(ttf);
    font-weight: 600;
    font-style: normal;
}
