<section class="about" id="about" area-label="About section">
    <div class="container about__container">
        <figure class="about-card" area-label="An about card">
            <div class="about-card_img-wrapper" area-label="Image field">
                <picture
                    ><source
                        srcset="./assets/img/about_pic1.avif"
                        type="image/avif" />
                    <source
                        srcset="./assets/img/about_pic1.webp"
                        type="image/webp" />
                    <img src="./assets/img/about_pic1.png" alt="Honey image"
                /></picture>
            </div>
            <div class="about-card_text-wrapper" area-label="Info field">
                <h3 class="about-card__title">
                    Honey created in the laps of nature.
                </h3>
                <p class="about-card__descr">
                    Honey is one of the prime ingredients in your everyday food
                    schedule. As a brand, you need a marketing strategy that
                    will help...
                </p>
                <button class="about-card__buton" area-label="Learn More">
                    Learn More
                </button>
            </div>
        </figure>

        <figure class="about-card" area-label="An about card">
            <div class="about-card_img-wrapper" area-label="Image field">
                <picture
                    ><source
                        srcset="./assets/img/about_pic2.avif"
                        type="image/avif" />
                    <source
                        srcset="./assets/img/about_pic2.webp"
                        type="image/webp" />
                    <img src="./assets/img/about_pic2.png" alt="Honey image"
                /></picture>
            </div>
            <div class="about-card_text-wrapper" area-label="Info field">
                <h3 class="about-card__title">
                    Does your honey taste bad? Try us!
                </h3>
                <p class="about-card__descr">
                    Honey is one of the prime ingredients in your everyday food
                    schedule. As a brand, you need a marketing strategy that
                    will help...
                </p>
                <button class="about-card__buton" area-label="Learn More">
                    Learn More
                </button>
            </div>
        </figure>
    </div>
</section>
