<footer class="footer" id="footer">
    <div class="container footer__container">
        <div class="footer__logo-field">
            <a href="#"
                ><svg class="footer__logo" aria-label="Logo picture">
                    <use
                        href="./assets/sprites/spritemap.svg#sprite-honey"
                    ></use>
                </svg>
            </a>
        </div>

        <p class="footer__text">
            Honey is one of the prime ingredients in your everyday food
            schedule.
        </p>

        <div class="footer__socials">
            <div class="footer__fb">
                <a href="https://www.facebook.com/">
                    <svg aria-label="Logo picture">
                        <use
                            href="./assets/sprites/spritemap.svg#sprite-socials_fb"
                        ></use>
                    </svg>
                </a>
            </div>
            <div class="footer__tw">
                <a href="https://twitter.com/">
                    <svg aria-label="Logo picture">
                        <use
                            href="./assets/sprites/spritemap.svg#sprite-socials_twitter"
                        ></use>
                    </svg>
                </a>
            </div>
            <div class="footer__google">
                <a href="https://plus.google.com/">
                    <svg aria-label="Logo picture">
                        <use
                            href="./assets/sprites/spritemap.svg#sprite-socials_google_plus"
                        ></use>
                    </svg>
                </a>
            </div>
            <div class="footer__pinterest">
                <a href="https://www.pinterest.com/">
                    <svg aria-label="Logo picture">
                        <use
                            href="./assets/sprites/spritemap.svg#sprite-socials_pi"
                        ></use>
                    </svg>
                </a>
            </div>
        </div>

        <div class="footer__stores">
            <div class="footer__google-play">
                <a href="https://play.google.com/">
                    <svg aria-label="Logo picture">
                        <use
                            href="./assets/sprites/spritemap.svg#sprite-google_play"
                        ></use>
                    </svg>
                </a>
            </div>

            <div class="footer__app-store">
                <a href="https://www.apple.com/app-store/">
                    <svg aria-label="Logo picture">
                        <use
                            href="./assets/sprites/spritemap.svg#sprite-app_store"
                        ></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>
