<header class="header">
    <div class="container header__container">
        <div class="logo_wrapper">
            <svg class="logo">
                <use href="#"></use>
            </svg>
        </div>
        <nav class="navigation">
            <ul class="nav-list">
                <li class="nav_item nav_item--active">Home</li>
                <li class="nav_item">About</li>
                <li class="nav_item">Our Product</li>
                <li class="nav_item">Contact</li>
            </ul>
        </nav>
        <div class="burger display--none"></div>
    </div>
</header>
