<section class="hero" id="hero" aria-label="Hero section">
    <div class="container hero__container">
        <div class="hero__wrapper">
            <h2 class="hero__title">
                <span>Finger</span>
                <span>licking</span>
                <span>
                    <span class="hero__bee-wrapper">
                        <picture
                            ><source
                                srcset="./assets/img/bee.avif"
                                type="image/avif" />
                            <source
                                srcset="./assets/img/bee.webp"
                                type="image/webp" />
                            <img
                                class="hero__bee"
                                src="./assets/img/bee.png"
                                alt="bee" /></picture></span
                    >honey!
                </span>
            </h2>
            <div class="buttons-wrapper" aria-label="Button section">
                <a
                    class="hero__button hero__button--black"
                    href="#"
                    aria-label="To buy product"
                    >Buy Now</a
                >
                <a
                    class="hero__button"
                    href="#"
                    aria-label="To learn more about the product"
                    >Learn More</a
                >
            </div>
        </div>
        <div class="honey-pouring-wrapper">
            <picture
                ><source
                    srcset="./assets/img/honey_pouring.avif"
                    type="image/avif" />
                <source
                    srcset="./assets/img/honey_pouring.webp"
                    type="image/webp" />
                <img
                    class="honey-pouring-img"
                    src="./assets/img/honey_pouring.png"
                    alt="honey pouring image"
            /></picture>
        </div>
    </div>
</section>
