<section class="products" id="products" aria-label="Products section">
    <div class="container">
        <h2 class="products__title">
            Our Product<a href="#" class="see-all">See all</a>
        </h2>
        <div class="products__cards" area-label="Our products cards">
            <figure class="product-card" area-label="Eucalyptus honey card">
                <div class="product-card__img" area-label="Image field">
                    <picture
                        ><source
                            srcset="./assets/img/eucalyptus_honey.avif"
                            type="image/avif" />
                        <source
                            srcset="./assets/img/eucalyptus_honey.webp"
                            type="image/webp" />
                        <img
                            src="./assets/img/eucalyptus_honey.png"
                            alt="Eucalyptus honey image"
                    /></picture>
                </div>
                <div class="product-card__info" area-label="Info field">
                    <h3 class="product-card__title" title="Eucalyptus Honey">
                        Eucalyptus Honey
                    </h3>
                    <p class="product-card__descr">
                        It has the scent of lavender, medium sweetness lavender
                        scented, and has a medium amber color.
                    </p>
                    <button class="product-card__buton" area-label="Buy Now">
                        Buy Now
                    </button>
                </div>
            </figure>

            <figure class="product-card" area-label="Basswood honey card">
                <div class="product-card__img" area-label="Image field">
                    <picture
                        ><source
                            srcset="./assets/img/basswood_honey.avif"
                            type="image/avif" />
                        <source
                            srcset="./assets/img/basswood_honey.webp"
                            type="image/webp" />
                        <img
                            src="./assets/img/basswood_honey.png"
                            alt="Eucalyptus honey image"
                    /></picture>
                </div>
                <div class="product-card__info" area-label="Info field">
                    <h3 class="product-card__title" title="Basswood Honey">
                        Basswood Honey
                    </h3>
                    <p class="product-card__descr">
                        Basswood is a tree native and abundant in Wisconsin,
                        which is also known as the Linden tree.
                    </p>
                    <button class="product-card__buton" area-label="Buy Now">
                        Buy Now
                    </button>
                </div>
            </figure>
        </div>
    </div>
</section>
