<section class="shops" id="shops" aria-label="Our shops section">
    <div class="container shops__container">
        <h2 class="shops__title">Our Trusted Shops</h2>
        <div class="shops__wrapper" aria-label="Our shops">
            <div class="shop" aria-label="luxopica shop">
                <svg class="shop__luxopica" aria-label="luxopica shop logo">
                    <use
                        href="./assets/sprites/spritemap.svg#sprite-luxopicl"
                    ></use>
                </svg>
            </div>

            <div class="shop" aria-label="miu-miu shop">
                <svg class="shop__miu-miu" aria-label="miu-miu shop logo">
                    <use
                        href="./assets/sprites/spritemap.svg#sprite-miu_miu"
                    ></use>
                </svg>
            </div>

            <div class="shop" aria-label="dunkin shop">
                <svg class="shop__dunkin" aria-label="dunkin shop logo">
                    <use
                        href="./assets/sprites/spritemap.svg#sprite-dunkin"
                    ></use>
                </svg>
            </div>

            <div class="shop" aria-label="burberry shop">
                <svg class="shop__burberry" aria-label="burberry shop logo">
                    <use
                        href="./assets/sprites/spritemap.svg#sprite-burberry"
                    ></use>
                </svg>
            </div>
        </div>
    </div>
</section>
